@media screen and (min-width: 351px) {
    .schoolSection::before {
        top: 742px;
    }

    .container::before {
        top: 250px;
    }
}

@media screen and (min-width: 378px) {
    .schoolSection::before {
        top: 718px;
    }

    .container::before {
        width: 484px;
        top: 227px;
    }
}

@media screen and (min-width: 768px) {
    .schoolSection::before {
        top: 344px;
    }

    .container::before {
        width: 582px;
        height: 702px;

        top: 386px;
        left: -262px;
    }
}

@media screen and (min-width: 1280px) {
    .schoolSection::before {
        top: 340px;
    }

    .container::before {
        width: 735px;
        height: 484px;

        top: 380px;
    }
}

@media screen and (min-width: 1752px) {
    .container::before {
        width: 652px;
        height: 484px;

        top: 380px;
        left: -84px;

        border-radius: 0 6px 6px 0;
    }
}
